@{
    ViewBag.Title = "Αρχική";
}
<div class="content">

    <div class="row">
        <div class="col-lg-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Αρχική</h3>
                </div>
                <div class="form-horizontal">
                    <div class="box-body">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>